.pHover:hover {
  /*text-decoration: underline;*/
  cursor: pointer;
  color: red;
}
.pHover {
  color: blue;
}
.tableStripped > tbody> tr:nth-child(even) {
  background-color: rgba(9, 186, 193, 0.38) !important;
}
