.modeButton {
  width: 50%;
  background-image: none !important;
  border-radius: 0 !important;
  border: 0 !important;
  color: white;
  font-weight: bold;
  background: #5c656c;
  transition: background-color .2s ease-in-out;

  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.submitButton {
  width: 100%;
  background-image: none !important;
  border-radius: 0 !important;
  border: 0 !important;
  color: white;
  font-weight: bold;
  background: #5c656c;
  transition: background-color .2s ease-in-out;

  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.modeButton:hover {
  border: 0 !important;
  background: #5c656c;
  background-image: none !important;
  border-radius: 0 !important;
}
.modeButton:focus {
  outline: none;
}
.buyActive {
  background-color: #4da53c !important;
}
.sellActive {
  background-color: #ff6939 !important;
}
.customLabel {
  color: #ced2bb;
}
.openOrders {
  background-color: #3a444d;
  height: calc(100vh - 450px);
}
.main {
  background-color: #3a444d;
  min-height: calc(100vh - 50px);
}
.main > div {
  margin-top: 20px;
}
.noMargin {
  margin: 0 !important;
}
.textColor > * {
  color: #ced2bb;
}
